@charset "UTF-8";
* {
    padding: 0;
    margin: 0;
}

/* -------------------------------------- */
/*    schedule  ココから                   */
/* -------------------------------------- */
.section_03 {
    width: 90%;
    margin-bottom: 50px;
    .day_schedule {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
    }
    .day_schedule >img{
            margin: 0 auto;
            width: 80%;
    }
}

//年間行事//
.section_04{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;
    .schedule_wrap{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .schedule_box{
            width: 20%;
            margin: 5px;
            align-content: stretch;
            img{
                width: 100%;
            }
            .schedule_text{
                ul{
                    padding: 0px;
                    color: #006400;
                    background: #fffae7;
                    border: dashed 2px #5aa501;
                    border-radius: 0px;
                    list-style: none;
                    height: 85px;
                    li{
                        font-size: 0.7em;
                        position: relative;
                        line-height: 20px;
                        padding-left: 30px;
                        font-weight: bold;
                        font-size: 13px;
                    }
                    li:before{/*list前装飾*/
                        content: "・";
                        position: absolute;
                        left: 5px;
                        font-size: 20px; 
                    }
                }
            }
        }
    }
}


/* ------- schedule レスポンシブ  pc------------ */

@media screen and (min-width: 767px) {
    .section_03 {
        width: 90%;
    }
    .pc{
        display: flex !important;
    }
    .sp{
        display: none !important;
    }
}

@media screen and (max-width: 767px){
    .section_03 {
        width: 100%;
        .day_schedule {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .day_schedule {
            img{
                margin: 0 auto;
                width: 96%;
            }
        }
    }
    .pc{
        display: none !important;
    }
    .sp{
        display: flex !important;
    }
    //年間行事//
.section_04{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    .schedule_wrap{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        .schedule_box{
            width: 45%;
            margin: 5px;
            align-content: stretch;
            img{
                width: 100%;
            }
            .schedule_text{
                ul.schedule_ul{
                    padding: 0px;
                    color: #006400;
                    background: #fffae7;
                    border: dashed 2px #5aa501;
                    border-radius: 0px;
                    list-style: none;
                    height: 85px;
                    li{
                        font-size: 0.7em;
                        position: relative;
                        line-height: 20px;
                        padding-left: 30px;
                        font-weight: bold;
                        font-size: 13px;
                    }
                    li:before{/*list前装飾*/
                        content: "・";
                        position: absolute;
                        left: 5px;
                        font-size: 20px; 
                    }
                }
            }
        }
    }
}

}

#toen{
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.toen_text{
    align-items: center;
    text-align: center;
    .yellow_line{
        border-bottom: solid 3px #ffb813;
    }
}
    .section_toen{
        margin: 30px;
    }
    .download_pdf{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:30px 0px;
        width: 100%;
        ul{
            padding:0 20px;
            li{
                margin-bottom: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 400px;
                a.btn--yellow {
                    color: #472b1d;
                    background-color: #ffdb88;
                    width: 90%;
                    text-align: center;
                    font-weight: bold;
                }
                    
                a.btn--yellow:hover {
                    color: #472b1d;
                    font-weight: bold;
                    background: #ffdb88;
                }
                    
                a.btn--yellow.btn--cubic {
                    border-bottom: 5px solid #ffb300;
                }
                    
                a.btn--yellow.btn--cubic:hover {
                    margin-top: 3px;
                    border-bottom: 2px solid #ffb300;
                }
                    
                a.btn-c {
                    font-size: 1rem;
                    font-size: 15px;
                    position: relative;
                    padding: 0.5rem 1rem 0.5rem 1rem;
                    border-radius: 100vh;
                }
                    
                a.btn-c i.fa {
                    margin-right: 1rem;
                }
            }
        }
    }
/*    schedule  SP                       */

@media(max-width:750px){
    .section_toen{
        .download_pdf{
            ul{
                li{
                    padding-right: 30px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}
/* -------------------------------------- */
/*    schedule  end                       */
/* -------------------------------------- */