@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

/* -------------------------------------- */
/*    schedule  ココから                   */
/* -------------------------------------- */
.section_03 {
  width: 90%;
  margin-bottom: 50px;
}

.section_03 .day_schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.section_03 .day_schedule > img {
  margin: 0 auto;
  width: 80%;
}

.section_04 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}

.section_04 .schedule_wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section_04 .schedule_wrap .schedule_box {
  width: 20%;
  margin: 5px;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

.section_04 .schedule_wrap .schedule_box img {
  width: 100%;
}

.section_04 .schedule_wrap .schedule_box .schedule_text ul {
  padding: 0px;
  color: #006400;
  background: #fffae7;
  border: dashed 2px #5aa501;
  border-radius: 0px;
  list-style: none;
  height: 85px;
}

.section_04 .schedule_wrap .schedule_box .schedule_text ul li {
  font-size: 0.7em;
  position: relative;
  line-height: 20px;
  padding-left: 30px;
  font-weight: bold;
  font-size: 13px;
}

.section_04 .schedule_wrap .schedule_box .schedule_text ul li:before {
  /*list前装飾*/
  content: "・";
  position: absolute;
  left: 5px;
  font-size: 20px;
}

/* ------- schedule レスポンシブ  pc------------ */
@media screen and (min-width: 767px) {
  .section_03 {
    width: 90%;
  }
  .pc {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .sp {
    display: none !important;
  }
}

@media screen and (max-width: 767px) {
  .section_03 {
    width: 100%;
  }
  .section_03 .day_schedule {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .section_03 .day_schedule img {
    margin: 0 auto;
    width: 96%;
  }
  .pc {
    display: none !important;
  }
  .sp {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .section_04 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  .section_04 .schedule_wrap {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section_04 .schedule_wrap .schedule_box {
    width: 45%;
    margin: 5px;
    -ms-flex-line-pack: stretch;
        align-content: stretch;
  }
  .section_04 .schedule_wrap .schedule_box img {
    width: 100%;
  }
  .section_04 .schedule_wrap .schedule_box .schedule_text ul.schedule_ul {
    padding: 0px;
    color: #006400;
    background: #fffae7;
    border: dashed 2px #5aa501;
    border-radius: 0px;
    list-style: none;
    height: 85px;
  }
  .section_04 .schedule_wrap .schedule_box .schedule_text ul.schedule_ul li {
    font-size: 0.7em;
    position: relative;
    line-height: 20px;
    padding-left: 30px;
    font-weight: bold;
    font-size: 13px;
  }
  .section_04 .schedule_wrap .schedule_box .schedule_text ul.schedule_ul li:before {
    /*list前装飾*/
    content: "・";
    position: absolute;
    left: 5px;
    font-size: 20px;
  }
}

#toen {
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}

.toen_text {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.toen_text .yellow_line {
  border-bottom: solid 3px #ffb813;
}

.section_toen {
  margin: 30px;
}

.download_pdf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0px;
  width: 100%;
}

.download_pdf ul {
  padding: 0 20px;
}

.download_pdf ul li {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
}

.download_pdf ul li a.btn--yellow {
  color: #472b1d;
  background-color: #ffdb88;
  width: 90%;
  text-align: center;
  font-weight: bold;
}

.download_pdf ul li a.btn--yellow:hover {
  color: #472b1d;
  font-weight: bold;
  background: #ffdb88;
}

.download_pdf ul li a.btn--yellow.btn--cubic {
  border-bottom: 5px solid #ffb300;
}

.download_pdf ul li a.btn--yellow.btn--cubic:hover {
  margin-top: 3px;
  border-bottom: 2px solid #ffb300;
}

.download_pdf ul li a.btn-c {
  font-size: 1rem;
  font-size: 15px;
  position: relative;
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 100vh;
}

.download_pdf ul li a.btn-c i.fa {
  margin-right: 1rem;
}

/*    schedule  SP                       */
@media (max-width: 750px) {
  .section_toen .download_pdf ul li {
    padding-right: 30px;
    margin-bottom: 10px;
  }
}

/* -------------------------------------- */
/*    schedule  end                       */
/* -------------------------------------- */
/*# sourceMappingURL=schedule.css.map */