@charset "UTF-8";
.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px;
}

.contents {
  margin: 20px 0;
}

@media (min-width: 768px) {
  .container:after {
    display: block;
    clear: both;
    content: '';
  }
  .contents {
    float: left;
    width: 70%;
    margin-right: 2%;
  }
}

.kiji-list {
  margin: 0 0 15px;
  border: solid 1px #ddd;
  background-color: #fff;
}

.kiji-list a {
  display: block;
  padding: 20px;
  text-decoration: none;
  color: #000;
}

.kiji-list a:after {
  display: block;
  clear: both;
  content: '';
}

.kiji-list a:hover {
  background-color: #eee;
}

.kiji-list img {
  float: left;
  width: 220px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

.kiji-list .text {
  width: auto;
  margin-left: 250px;
}

.kiji-list h2 {
  font-size: 1.05em;
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: 5px;
}

.kiji-date {
  font-size: .8em;
  margin-bottom: 8px;
  color: #666;
}

.cat-data {
  font-size: .6em;
  padding: 3px 5px;
  text-align: center;
  white-space: nowrap;
  color: #fff;
  border-radius: 3px;
  background-color: #464646;
}

.kiji-list p {
  font-size: .8em;
  margin: 10px 0 0;
}

.contents > h1 {
  font-size: 1.5em;
  margin: 0 0 20px;
}

@media (max-width: 599px) {
  .kiji-list a {
    padding: 10px;
  }
  .kiji-list img {
    width: 100px;
    height: 80px;
  }
  .kiji-list .text {
    margin-left: 120px;
  }
  .kiji-list h2 {
    font-size: .95em;
  }
  .kiji-date {
    margin-bottom: 0;
  }
  .kiji-list p {
    visibility: hidden;
    height: 0;
  }
  .contents > h1 {
    font-size: 1.3em;
  }
}

/*ページネーション*/
.pagination {
  margin: 40px 0 30px;
  text-align: center;
}

.pagination ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination li {
  display: inline-block;
  width: auto;
}

.pagination li a, .pagination li > span {
  font-size: .9em;
  display: block;
  width: 30px;
  margin: 0 1px;
  padding: 5px 0;
  text-decoration: none;
  color: #000;
  border: solid 1px #ccc;
  border-radius: 3px;
}

.pagination li > span {
  color: #fff;
  background-color: #464646;
}

.pagination li a:hover {
  color: #fff;
  background-color: #464646;
}

.pagination li .dots {
  width: 15px;
  padding: 0;
  color: #000;
  border-color: transparent;
  background-color: transparent;
}

/*記事のCSS*/
.kiji {
  font-size: 1em;
  margin: 0;
  padding: 0 25px 25px;
}

.kiji-info .cat-data a {
  text-decoration: none;
  color: #fff;
}

.kiji-info .cat-data a:hover {
  opacity: .8;
}

.kiji-img {
  max-width: 640px;
  margin: 30px auto;
  text-align: center;
}

/*タグ*/
.kiji-tag {
  text-align: right;
}

.kiji-tag ul {
  list-style: none;
}

.kiji-tag li {
  display: inline-block;
  color: #464646;
}

.kiji-tag li a {
  font-size: .8em;
  margin-right: 7px;
  padding: 2px 7px;
  text-decoration: none;
  color: #464646;
  border: solid 1px #464646;
  border-radius: 2px;
}

.kiji-tag li a:hover {
  opacity: .8;
}

.kiji p {
  margin-top: 0;
  margin-bottom: 30px;
}

.kiji h1 {
  font-size: 1.7em;
  margin: .3em 0;
}

.kiji h2 {
  font-size: 1.5em;
  margin-top: 3em;
  margin-bottom: 1.5em;
  padding: .4em 0;
  border-bottom: solid 5px #464646;
}

.kiji h3 {
  font-size: 1.35em;
  margin-top: 2.5em;
  margin-bottom: 1.5em;
  padding: 0 .5em;
  border-left: solid 5px #777777;
  background: transparent;
}

.kiji h4 {
  font-size: 1.2em;
  margin: 0 0 .3em;
}

.kiji h5 {
  font-size: 1.1em;
  margin: 0 0 .3em;
}

@media (max-width: 599px) {
  .kiji {
    font-size: 92%;
    padding: 0 10px 25px;
  }
  .kiji h1 {
    font-size: 1.3em;
  }
  .kiji h2 {
    font-size: 1.25em;
  }
  .kiji h3 {
    font-size: 1.2em;
  }
  .kiji h3:after {
    display: none;
  }
  .kiji h4 {
    font-size: 1.15em;
  }
  .kiji h5 {
    font-size: 1.1em;
  }
}

/*パンくずリスト*/
.bread ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bread li {
  display: inline-block;
}

.bread li a {
  font-size: .7em;
  padding: 5px;
  text-decoration: none;
  color: #888;
}

.bread li a[href]:hover {
  background-color: #eee;
}

.bread li:after {
  content: '\003e';
  color: #888;
}

.bread li:last-child:after {
  content: none;
}

.bread i {
  font-size: 1em;
}

.bread span {
  display: inline-block;
  text-indent: -9999px;
}
/*# sourceMappingURL=taxonomy.css.map */